[submodule "vim/.vim/bundle/python-mode"]
	path = vim/.vim/bundle/python-mode
	url = https://github.com/klen/python-mode
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
